#Container {
 width: 900px;
}

#Header {
 height: 50;
 position: relative;
 background-color: #CCFFCC;
 border-bottom: 2px solid #000000;
}

#leftTab {
 float: left;
 height: 1000px;
 width: 140px;
 background-color:#FFCC00;
 border-right: 1px dashed #694717; 
}

#Body {
 margin: auto;
 padding: 10px 0px 0px 10px;
}

#Footer {
 clear: both;
 background-color: #6CF;
}

HeaderText {
 font: bold 28pt Helvetica, Arial,sans-serif; 
 color: white;
 text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
 padding: 10px;
}

h2 { font: bold 18pt Helvetica, Arial, sans-serif;}
h3 { font: bold italic 14pt Helvetica, Arial, sans-serif; color: red;}
p { font: 12pt Helvetica, Arial, sans-serif;}
formwords { font: 10pt Helvetica, Arial, sans-serif;}

