#Container {
 width: 900px;
}

#Header {
 height: 100;
 position: relative;
 background-color: #99FFCC;
 border-bottom: 2px solid #000000;
}

#leftTab {
 float: left;
 height: 1000px;
 width: 140px;
 background-color:#FFCC00;
 border-right: 1px dashed #694717; 
}

#Body {
 margin: auto;
 padding: 10px 0px 0px 10px;
}

#Footer {
 clear: both;
 background-color: #6CF;
}

h1 { margin: 0em;
 border: none;
 background: black;
 color: white;
 font: bold 18pt Helvetica, Arial, sans-serif;
 padding: 0.25em;
 }
h2 { font: bold 18pt Helvetica, Arial, sans-serif;}
h3 { font: bold italic 14pt Helvetica, Arial, sans-serif; color: red;}
p { font: 12pt Helvetica, Arial, sans-serif;}
